*{
  margin: 0;
}

header{
  width: 100%;
  background-color: red;
}
header ul{
  display: table;
}
header li{
  display: table-cell;
  padding: 15px;
  cursor: pointer;
  color: white;
  font-weight: bold;
}
.active{
  background-color: rgb(138, 0, 0);
}
